%button {
  @include prefixer(font-smoothing, antialiased, webkit spec);
  border-radius: $base-border-radius;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;

  &,
  &:disabled,
  &:disabled:hover {
    background-color: $base-button-color;
    color: $white;
  }

  &:hover {
    background-color: $hover-button-color;
    color: $white;
  }
}
