%button {
  @include prefixer(font-smoothing, antialiased, webkit spec);
  display: inline-block;
  border: 1px solid darken($base-button-color, 15%);
  border-radius: $base-border-radius;
  background-color: $base-button-color;
  padding: $button-padding;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1;
  color: $white;
  font: bold $base-font-size $base-font-family;
  box-sizing: border-box;

  &:hover,
  &:active {
    background-color: $hover-button-color;
    color: $white;
  }

  &:disabled,
  &:disabled:hover {
    background-color: $disabled-button-color;
    color: darken($disabled-button-color, 20%);
  }

  + %button {
    margin-left: em(5);
  }
}

%button--small {
  padding: $small-button-padding;
}

%button--light {
  border: 1px solid $light-gray;

  &,
  &:disabled,
  &:disabled:hover {
    background-color: $light-button-color;
    color: $light-button-font-color;
  }

  &:hover {
    background-color: $hover-light-button-color;
    color: darken($light-button-font-color, 10%);
  }
}

%button--success {
  border: 1px solid darken($success-button-color, 5%);

  &,
  &:disabled,
  &:disabled:hover {
    background-color: $success-button-color;
    color: $success-button-font-color;
  }

  &:hover {
    background-color: $hover-success-button-color;
    color: darken($success-button-font-color, 10%);
  }
}

%button--block {
  display: block;
  width: 100%;
}

%button-unstyled {
  @include appearance(none);
  margin: 0;
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
  font: inherit;
  user-select: none;

  &:disabled {
    cursor: default;
  }
}

%button-link {
  @extend %button-unstyled;
  @extend %link;
  padding: .75em 1em;
  font-weight: bold;
}

%pill {
  @include prefixer(font-smoothing, antialiased, webkit spec);
  display: inline-block;
  border-radius: $base-font-size;
  padding: .2em .8em;
  vertical-align: middle;

  &,
  &:disabled,
  &:disabled:hover {
    background-color: $base-button-color;
    color: $white;
  }

  &:hover {
    background-color: $hover-button-color;
    color: $white;
  }
}

%pill--gray {
  &,
  &:disabled,
  &:disabled:hover {
    background-color: $light-gray;
    color: $dark-gray;
  }

  &:hover {
    background-color: darken($light-gray, 10);
    color: $dark-gray;
  }
}

%pill--white {
  &,
  &:disabled,
  &:disabled:hover {
    background-color: $white;
    color: $base-button-color;
  }

  &:hover {
    background-color: darken($white, 10);
    color: $hover-button-color;
  }
}
