%icon {
  display: inline-block;
  line-height: $unitless-line-height;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

%icon--left {
  margin-right: $icon-margin;
}

%icon--right {
  margin-left: $icon-margin;
}
