%link {
  @include transition(color .2s linear);
  text-decoration: none;
  color: $base-link-color;

  &:hover {
    cursor: pointer;
    color: $hover-link-color;
  }

  &:active {
    outline: none;
    color: $hover-link-color;
  }
}

%link--white {
  color: $white;

  &:hover {
    color: darken($white, 20%);
  }
}

%link--muted {
  color: $muted-font-color;

  &:hover {
    color: darken($muted-font-color, 20%);
  }
}

%title {
  margin-bottom: $small-font-size;
}

%text {
  line-height: $unitless-line-height;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

%text--muted {
  color: $muted-font-color;
}

%text--bold {
  font-weight: bold;
}

%text--large {
  font-size: $large-font-size;
}

%text--base {
  font-size: $base-font-size;
}

%text--small {
  font-size: $small-font-size;
}

%text--mini {
  font-size: $mini-font-size;
}

%text--center {
  text-align: center;
}

%hide-text {
  @include hide-text;
}

