%link--white {
  color: $white;

  &:hover {
    color: darken($white, 20%);
  }
}

%icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
