html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.app-container {
  position: relative;
  margin-left: 0;
  height: 100%;
}

.app-aside {
  position: fixed;
  width: golden-ratio(1em, 6);
  height: 100%;
  overflow: auto;
}

.app-body {
  @include outer-container;
  position: relative;
  margin-left: golden-ratio(1em, 6);
  padding: $gutter;
  height: 100%;
}
