.app {
  height: 100%;
}

.app-container {
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
  min-height: 100%;
}

.app-body {
  @extend %outer-container;
  @include clearfix;
  padding: $base-padding 0;
}

.app-footer {
  margin-top: -$footer-height;
}
