button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  border: 0;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: default;
  }
}
