@import 'neat-helpers';

// Screen widths
$max-width: em(1088);

$small-screen-max-width: em(640);

$medium-screen-min-width: em(641);
$medium-screen-max-width: em(860);

$large-screen-min-width: em(861);
$large-screen-max-width: $max-width;

$extra-large-screen-min-width: em(1089);
$extra-large-screen-max-width: em(1200);

$mega-large-screen-min-width: em(1201);

// Breakpoints
$small-screen: new-breakpoint(max-width $small-screen-max-width);
$small-screen-up: new-breakpoint(min-width $medium-screen-min-width);

$medium-screen: new-breakpoint(min-width $medium-screen-min-width max-width $medium-screen-max-width);
$medium-screen-up: new-breakpoint(min-width $large-screen-min-width);

$large-screen: new-breakpoint(min-width $large-screen-min-width max-width $large-screen-max-width);
$large-screen-up: new-breakpoint(min-width $extra-large-screen-min-width);

$extra-large-screen: new-breakpoint(min-width $extra-large-screen-min-width);
$extra-large-screen-up: new-breakpoint(min-width $mega-large-screen-min-width);
