@import 'neat-helpers';

// Neat Overrides
$max-width: 1088px;

// Neat Breakpoints
$small-screen-width: 640px;
$medium-screen-width: 860px;
$large-screen-width: $max-width;
$extra-large-screen-width: 1200px;

$small-screen: new-breakpoint(max-width $small-screen-width);
$small-screen-up: new-breakpoint(min-width 0);

$medium-screen: new-breakpoint(min-width $small-screen-width + 1 max-width $medium-screen-width);
$medium-screen-up: new-breakpoint(min-width $small-screen-width + 1);

$large-screen: new-breakpoint(min-width $medium-screen-width + 1 max-width $large-screen-width);
$large-screen-up: new-breakpoint(min-width $medium-screen-width + 1);

$extra-large-screen: new-breakpoint(min-width $large-screen-width + 1);
$extra-large-screen-up: $extra-large-screen;
