table {
  margin: ($base-line-height / 2) 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  padding: ($base-line-height / 2) 0;
  text-align: left;
  font-weight: bold;
}

td {
  border-bottom: 1px solid $base-border-color;
  padding: ($base-line-height / 2) 0;
}

tr,
td,
th {
  vertical-align: middle;
}
