body {
  @include prefixer(font-smoothing, antialiased, webkit spec);
  background-color: $base-background-color;
  line-height: $unitless-line-height;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  line-height: $unitless-header-line-height;
  font-family: $header-font-family;
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

p {
  margin: 0 0 ($base-line-height * .5);
}

a {
  @include transition(color .1s linear);
  text-decoration: none;
  color: $base-link-color;

  &:hover {
    cursor: pointer;
    color: $hover-link-color;
  }

  &:active,
  &:focus {
    outline: none;
    color: $hover-link-color;
  }
}

hr {
  margin: $base-line-height 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $base-border-color;
  border-left: 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  margin: $base-line-height 0;
  border-left: 2px solid $base-border-color;
  padding-left: $base-line-height / 2;
  color: lighten($base-font-color, 15);
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
