// Typography
$sans-serif: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$serif: Bitter, Georgia, Cambria, Times, serif;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// Sizes
$unitless-line-height: 1.5;
$unitless-header-line-height: 1.25;
$base-font-size: 16px;
$base-line-height: $base-font-size * $unitless-line-height;
$base-border-radius: em(3);
$small-font-size: $base-font-size * .85;
$mini-font-size: $base-font-size * .75;

// Colors
$white: #fff;
$black: #000;
$blue: #156cee;
$dark-gray: #333;
$medium-gray: #999;
$gray: #bbb;
$light-gray: #ddd;
$light-red: #fbe3e4;
$light-yellow: #fff6bf;
$light-green: #e6efc2;
$yellow: #ffd600;
$whitesmoke: #eee;

// Background Colors
$base-background-color: $whitesmoke;
$header-background-color: $black;

// Brand Colors
$base-brand-color: $yellow;

// Font Colors
$base-font-color: $black;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Button Colors
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;
$light-button-color: $light-gray;
$hover-light-button-color: darken($light-button-color, 10);

// Border Colors
$base-border-color: $gray;
$recipe-tile-border-color: transparentize($light-gray, .4);

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), .7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Icons
$icon-margin: em(5);

// Paddings
$base-padding: 25px;

// Modal
$modal-background-color: $white;
$modal-footer-background-color: $whitesmoke;
$modal-header-border-color: $whitesmoke;
$modal-padding: 30px;
