// Colour
// -- Neutral
$white: #fff;
$black: #000;

// -- Blue
$light-aqua-blue: #c3f5fe;
$aqua-blue: #73cde1;
$dark-aqua-blue: #148296;

// -- Gray
$dark-gray: #333;
$dark-medium-gray: #666;
$medium-gray: #999;
$gray: #bbb;
$light-gray: #ddd;
$whitesmoke: #efefef;
$light-whitesmoke: #f7f7f7;

// -- Red
$light-red: #fbe3e4;
$red: #f00;
$dark-red: darken($light-red, 50);

// -- Yellow
$light-yellow: #fff6bf;
$dark-yellow: darken($light-yellow, 50);
$yellow: #ffd600;

// -- Green
$light-green: #e6efc2;
$green: #4aa800;
$dark-green: darken($light-green, 50);

// Typography
$sans-serif: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$serif: Bitter, Georgia, Cambria, Times, serif;
$base-font-family: $sans-serif;
$header-font-family: $sans-serif;

// Font Colour
$base-font-color: $dark-gray;
$base-accent-color: $aqua-blue;
$muted-font-color: $medium-gray;
$alert-font-color: $dark-yellow;
$error-font-color: $red;
$notice-font-color: $dark-yellow;
$success-font-color: $green;

// Font Size
$base-font-size: em(16);
$mini-font-size: $base-font-size * .8125;
$small-font-size: $base-font-size * .875;
$large-font-size: $base-font-size * 1.25;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 1.75;
$h3-font-size: $base-font-size * 1.25;
$h4-font-size: $base-font-size * 1.125;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;

// Line Height
$unitless-line-height: 1.5;
$unitless-small-line-height: 1.3;
$unitless-mini-line-height: 1;
$unitless-header-line-height: $unitless-small-line-height;
$base-line-height: $base-font-size * $unitless-line-height;
$small-line-height: $base-font-size * $unitless-small-line-height;
$mini-line-height: $base-font-size * $unitless-mini-line-height;
$half-base-line-height: $base-line-height * .5;

// Branding
$base-brand-color: $aqua-blue;

// Background
$base-background-color: $white;
$alert-background-color: $light-yellow;
$error-background-color: $light-red;
$notice-background-color: $light-yellow;
$success-background-color: $light-green;

// Link
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Padding
$mini-padding: em(10);
$small-padding: em(15);
$medium-padding: em(20);
$base-padding: em(25);

// Border
$base-border-color: $light-gray;
$small-border-radius: em(1.5);
$base-border-radius: em(3);
$large-border-radius: em(6);

// Button
$button-padding: em(10) em(20);
$small-button-padding: em(5) em(10);
$button-height: $base-line-height + 2 * nth($button-padding, 1);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;
$light-button-color: $whitesmoke;
$hover-light-button-color: darken($light-button-color, 2.5);
$light-button-font-color: $dark-medium-gray;
$success-button-color: $green;
$hover-success-button-color: darken($green, 5);
$success-button-font-color: $white;
$danger-button-color: $red;
$hover-danger-button-color: darken($red, 5);
$danger-button-font-color: $white;
$disabled-button-color: $light-gray;

// Form
$form-border-radius: $base-border-radius;
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), .7);

// Icon
$icon-margin: em(5);

// Header
$header-background-color: $base-brand-color;
$header-height: em(45);
$large-header-height: em(50);
$header-font-color: $white;
$header-link-color: $header-font-color;
$header-hover-link-color: $light-aqua-blue;
$header-active-link-color: darken($header-hover-link-color, 10%);

// Footer
$footer-height: em(55);

// Modal
$modal-background-color: $white;
$modal-header-background-color: $modal-background-color;
$modal-footer-background-color: $whitesmoke;
$modal-header-border-color: $whitesmoke;
$modal-overlay-background-color: transparentize($black, .2);
$modal-padding: em(20);
$large-modal-padding: em(30);
$modal-header-height: $modal-padding + $base-line-height;
$modal-footer-height: $modal-padding + $button-height;

// Slide menu
$slide-menu-columns: 3;
$slide-menu-transition: transform 500ms ease;
$slide-menu-background: $dark-gray;
