// Typography
$sans-serif: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$serif: Bitter, Georgia, Cambria, Times, serif;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// Sizes
$unitless-line-height: 1.5;
$unitless-header-line-height: 1.25;
$base-font-size: 16px;
$base-line-height: $base-font-size * $unitless-line-height;
$base-border-radius: em(3);

// Colors
$white: #fff;
$black: #000;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #efefef;
$light-red: #fbe3e4;
$light-yellow: #fff6bf;
$light-green: #e6efc2;
$yellow: #ffd600;

// Background Color
$base-background-color: $light-gray;
$header-background-color: $black;

// Brand color
$base-brand-color: $yellow;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
