script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"

coffee:
  WebFont.load
    google:
      families: [
        'Bitter:400'
        'Bitter:400italic'
        'Bitter:700'
        'Bitter:700italic'
        'Lato:400'
        'Lato:400italic'
        'Lato:700'
        'Lato:700italic'
      ]
