title head-title="" Recipes - tinypantry.com

base href="/"

meta charset="utf-8"

meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"

meta name="description" content="Find delicious popular recipes online that are easy to make at home." head-description=""

meta name="fragment" content="!"

= csrf_meta_tag unless response.cache_control[:public]

= stylesheet_link_tag "application", media: "all"

= render 'shared/font'
