title head-title="" Recipes - tinypantry.com

base href="/"

meta charset="utf-8"

meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"

meta name="description" content="Find delicious popular recipes online that are easy to make at home." head-description=""

meta name="fragment" content="!"

= csrf_meta_tag unless response.cache_control[:public]

= stylesheet_link_tag "application", media: "all"

= render 'shared/font'

= favicon_link_tag '/apple-touch-icon-180x180-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '180x180', type: 'image/png'
= favicon_link_tag '/apple-touch-icon-152x152-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '152x152', type: 'image/png'
= favicon_link_tag '/apple-touch-icon-120x120-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '120x120', type: 'image/png'
= favicon_link_tag '/apple-touch-icon-76x76-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '76x76', type: 'image/png'
= favicon_link_tag
