h1 Feeds

loading-indicator model="feeds.status.loaded" class="loading-indicator loading-indicator--large"

div ng-repeat="feed in feeds.items"
  a ui-sref="feeds.edit({ id: feed.id })" {{ feed.name }}
