.button {
  @extend %button;
}

.button--small {
  @extend %button--small;
}

.button--light {
  @extend %button--light;
}

.button--success {
  @extend %button--success;
}

.button--danger {
  @extend %button--danger;
}

.button--block,
.block-button {
  @extend %button--block;
}

.load-button {
  @extend %button;
  @extend %button--block;
  @extend %button--light;
  margin-top: $base-padding;

  &:after {
    @extend %icon;
    margin-left: $icon-margin;
    content: $fa-var-angle-down;
  }
}

.load-button--without-divider {
  border-top: 0;
}
