.button {
  @extend %button;
}

.button--light {
  @extend %button--light;
}

.button--block,
.block-button {
  @extend %button--block;
}

.load-button {
  display: block;
  margin-top: $base-padding;
  border-top: 1px solid $light-gray;
  width: 100%;
  color: $base-font-color;
  font-weight: normal;

  &:after {
    @extend %icon;
    margin-left: $icon-margin;
    content: $fa-var-angle-down;
  }
}
