.app-header {
  background: $header-background-color;
  height: 100%;
}

.app-header__logo {
  background: $base-brand-color;
  display: block;
  font: bold 18px $serif;
  line-height: em(70px);
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;

  &,
  &:hover {
    color: $black;
  }
}
