.app-header {
  background: $header-background-color;
  height: 100%;
}

.app-header__logo {
  display: block;
  background: $base-brand-color;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: em(70);
  font-family: $serif;
  font-size: 18px;
  font-weight: bold;

  &,
  &:hover {
    color: $black;
  }
}
