.loading-indicator {
  opacity: .4;
}

.loading-indicator--inline {
  opacity: 1;

  &:first-child {
    margin-right: em(5);
  }

  &:last-child {
    margin-left: em(5);
  }

  &:only-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.loading-indicator--large,
.loading-indicator--overlay {
  font-size: em(40);
}

.loading-indicator--overlay {
  background: $modal-overlay-background-color;
  color: $gray;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1999;
}
