.loading-indicator {
  opacity: .4;
}

.loading-indicator--inline {
  opacity: 1;

  &:first-child {
    margin-right: em(5);
  }

  &:last-child {
    margin-left: em(5);
  }

  &:only-child {
    margin-right: 0;
    margin-left: 0;
  }
}

.loading-indicator--large,
.loading-indicator--overlay {
  font-size: em(40);
}

.loading-indicator--overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  background: $modal-overlay-background-color;
  width: 100%;
  height: 100%;
  color: $white;

  &.ng-enter,
  &.ng-leave {
    @include transition(opacity .5s ease-out);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }
}
