.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: $modal-background-color;
  padding: $modal-header-height 0 $modal-footer-height;
  width: 100%;
  min-width: 300px;
  max-width: $max-width;
  height: auto;
  box-sizing: border-box;

  &.ng-enter,
  &.ng-leave,
  &.ng-hide-add,
  &.ng-hide-remove {
    @include transition(opacity .5s ease-out);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active,
  &.ng-hide-remove,
  &.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave,
  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
}

.modal-body--is-opened {
  position: fixed;
  overflow: hidden;
}

.modal--without-footer {
  padding-bottom: 0;
}

.modal__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid $modal-header-border-color;
  background: $modal-header-background-color;
  padding: em(15) $modal-padding;
  min-height: $modal-padding + $base-line-height;
  text-align: center;
  box-sizing: border-box;
}

.modal--with-plain-header {
  padding-top: $modal-header-height - $modal-padding;
}

.modal__header--plain {
  border-bottom: 0;
}

.modal__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-footer-background-color;
  padding: em(15) $modal-padding;
}

.modal__body {
  @include prefixer(overflow-scrolling, touch, webkit spec);
  position: relative;
  padding: $modal-padding;
  height: 100%;
  overflow: auto;

  .app-body {
    padding: 0;
  }
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: $modal-padding / 2;
  width: $base-line-height;
  color: $base-font-color;
  box-sizing: content-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  background: $modal-overlay-background-color;
  width: 100%;
  height: 100%;

  &.ng-enter,
  &.ng-leave {
    @include transition(opacity .5s ease-out);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }
}

// --------------------------------------------------
// Medium screen up
@include media($medium-screen-up) {
  .modal {
    @include transform(translateX(-50%) translateY(-50%));
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    width: column-width(6);
  }

  .modal--large {
    width: column-width(9);
  }

  .modal--small {
    width: column-width(4);
  }

  .modal__header {
    padding: em(15) $large-modal-padding;
    min-height: $large-modal-padding + $base-line-height;
  }

  .modal__body {
    padding: $large-modal-padding;
    max-height: em(600);
  }

  .modal__footer {
    padding: em(15) $large-modal-padding;
  }

  .modal__close-btn {
    top: $large-modal-padding / 2;
    right: $large-modal-padding / 2;
  }
}

// --------------------------------------------------
// Large screen up
@include media($large-screen-up) {
  .modal--large {
    width: column-width(12);
  }
}
