.modal {
  @include transform(translateX(-50%) translateY(-50%));
  background: $white;
  height: auto;
  left: 50%;
  max-width: 550px;
  min-width: 330px;
  position: fixed;
  top: 50%;
  width: 50%;
  z-index: 2000;
}

.modal-overlay {
  background: transparentize($black, .2);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1999;
}
