$slide-menu-width: column-width($slide-menu-columns);

.app {
  &.is-opened-add-active,
  &.is-opened-remove-active {
    @include transition($slide-menu-transition);
  }

  &.is-opened,
  &.is-opened-add {
    overflow: hidden;
  }
}

.app-slide-menu {
  @include transition($slide-menu-transition);
  position: fixed;
  top: 0;
  bottom: 0;
  background: $dark-gray;
  width: $slide-menu-width;
  overflow-y: auto;
  box-sizing: border-box;

  &.is-closed {
    z-index: -100;
  }

  &.is-closed:not(.is-closed-add) {
    visibility: hidden;
  }
}

.app-slide-menu,
.browse-slide-menu {
  right: auto;
  left: 0;
}

.account-slide-menu {
  right: 0;
  left: auto;
}

.app-container {
  &.is-opened-add-active,
  &.is-opened-remove-active {
    @include transition($slide-menu-transition);
  }

  &.is-opened-remove-active {
    @include transform(translate3d(0, 0, 0));
  }

  &.browse-slide-menu-is-opened {
    @include transform(translate3d($slide-menu-width, 0, 0));
  }

  &.account-slide-menu-is-opened {
    @include transform(translate3d(-$slide-menu-width, 0, 0));
  }
}

// Slide menu link
.app-slide-menu__item {
  border-bottom: 1px solid lighten($dark-gray, 10%);
}

.app-slide-menu__item-link {
  @extend %link--white;
  display: block;
  padding: 0 $medium-padding;
  line-height: $header-height - em(1);
  font-weight: bold;

  &.is-active {
    color: $dark-aqua-blue;
  }
}

// --------------------------------------------------
// Medium screen up
@include media($medium-screen-up) {
  .app-slide-menu__item-link {
    line-height: $large-header-height;
  }
}

// --------------------------------------------------
// Large screen up
@include media(new-breakpoint(min-width $large-screen-max-width + $slide-menu-width * 2)) {
  .app-container {
    &.browse-slide-menu-is-opened {
      @include transform(none);
    }

    &.account-slide-menu-is-opened {
      @include transform(none);
    }
  }

  .app-slide-menu {
    &.is-opened,
    &.is-opened-remove {
      z-index: 100;
    }

    &.is-opened-add-active,
    &.is-opened-remove-active {
      @include transition($slide-menu-transition);
    }

    &.is-opened-add-active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  .browse-slide-menu {
    &.is-closed {
      @include transform(translate3d(-$slide-menu-width, 0, 0));
    }
  }

  .account-slide-menu {
    &.is-closed {
      @include transform(translate3d($slide-menu-width, 0, 0));
    }
  }
}
