// Recipe nav bar
.recipe-nav-bar {
  border-bottom: 1px solid $light-gray;
  background: $light-whitesmoke;
  min-height: em(42);
  line-height: $unitless-mini-line-height;
  font-size: $small-font-size;

  .recipe-filters,
  .recipe-search__form-toggle {
    padding-top: em(12);
    padding-bottom: em(12);
  }

  .recipe-search__form {
    margin-top: em(5);
    margin-bottom: em(5);
  }
}

.recipe-nav-bar__container {
  @extend %outer-container;
  @extend %clearfix;
  padding: 0 $small-padding;

  .recipe-search__form-toggle {
    position: absolute;
    right: $small-padding;
  }
}

// Recipe filter
.recipe-filters {
  float: left;
  color: $medium-gray;
}

.recipe-filters__list {
  &,
  > li {
    display: inline-block;
  }

  > li {
    margin-right: $base-font-size;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.recipe-filters__link {
  line-height: $unitless-line-height;
  color: $base-font-color;

  &.is-active {
    color: $dark-aqua-blue;

    &:after {
      @extend %icon;
      margin-left: $icon-margin;
      content: $fa-var-caret-down;
    }
  }
}

.recipe-filters__label {
  margin-right: $base-font-size;
}

// Recipe search
.recipe-search__form {
  position: absolute;
  right: $small-padding;
  left: $small-padding;
}

.recipe-search__form-toggle {
  margin-right: -$small-padding;
  padding: 0 $small-padding;
  font-size: $large-font-size;
}

.recipe-search__form-hide-toggle {
  @extend %link--muted;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: $small-font-size;
}

// Recipe tile
.recipe-tiles {
  @extend %outer-container;

  .recipe-tile {
    margin-top: $base-padding * 1.5;
  }
}

.recipe-related-tiles {
  @extend %outer-container;

  .recipe-tile {
    @include span-columns(4);
    @include omega(3n);
    margin-top: $base-padding;

    &:nth-of-type(-n+3) {
      margin-top: 0;
    }
  }

  .recipe-tile__title {
    @extend %text--small;
  }

  .recipe-meta {
    @extend %text--mini;
  }
}

.recipe-tile {
  &,
  a:not(.button) {
    color: $base-font-color;
  }
}

.recipe-tile__image {
  display: block;
  background: $light-whitesmoke;
  overflow: hidden;

  > img {
    display: block;
  }
}

.recipe-tile__title {
  @extend %text--small;
  display: block;
  margin: em(6) 0;
}

// Recipe meta
.recipe-meta {
  @extend %text--muted;
  @extend %text--mini;
  margin: em(6) 0;
  line-height: $unitless-small-line-height;

  .fa {
    @extend %icon--left;
  }
}

.recipe-meta__item {
  display: inline-block;
  margin-left: $icon-margin * 3;

  &:first-child {
    margin-left: 0;
  }
}

// Recipe detail
.recipe-detail {
  @extend %outer-container;

  .app-breadcrumbs {
    display: none;
  }
}

.recipe-detail__image {
  display: block;
  position: relative;
  background: $light-whitesmoke;
  overflow: hidden;

  > a {
    display: block;
  }

  > img,
  > a > img {
    display: block;
    width: 100%;
  }
}

.recipe-detail__body {
  margin-top: $modal-padding;
}

.recipe-detail__description {
  margin: $base-line-height 0;
}

.recipe-detail__title {
  font-size: $base-font-size * 1.25;
}

.recipe-detail__image-action {
  position: absolute;
  right: $small-padding;
  bottom: $small-padding;
}

// --------------------------------------------------
// Small screen
@include media($small-screen-down) {
  .recipe-tiles {
    .recipe-tile {
      @include span-columns(6);
      @include omega(2n);

      &:nth-of-type(-n+2) {
        margin-top: 0;
      }
    }
  }

  .recipe-modal {
    .recipe-detail__image {
      margin-right: -$modal-padding;
      margin-left: -$modal-padding;
    }

    .modal__header {
      background: transparent;
    }

    &,
    .modal__body {
      padding-top: 0;
    }

    .modal__close-btn {
      > .fa {
        border-radius: 100%;
        background: transparentize($black, .5);
        padding: em(5);
        width: em(26);
        height: em(26);
        color: $white;
      }
    }
  }
}

// --------------------------------------------------
// Small screen up
@include media($small-screen-up) {
  .recipe-tile__title {
    font-size: $base-font-size;
  }

  .recipe-filters {
    @include span-columns(8);
  }

  .recipe-search {
    @include span-columns(4);
  }

  .recipe-search__form {
    position: static;
    right: auto;
    left: auto;

    &.ng-hide {
      display: block !important;
    }
  }

  .recipe-detail__image-action,
  .recipe-search__form-toggle,
  .recipe-search__form-hide-toggle {
    display: none;
  }
}

// --------------------------------------------------
// Medium screen
@include media($medium-screen) {
  .recipe-tiles {
    .recipe-tile {
      @include span-columns(4);
      @include omega(3n);

      &:nth-of-type(-n+3) {
        margin-top: 0;
      }
    }
  }

  .recipe-detail {
    max-width: column-width(6);
  }
}

// --------------------------------------------------
// Medium screen up
@include media($medium-screen-up) {
  .recipe-nav-bar {
    font-size: $base-font-size;
  }

  .recipe-nav-bar__container {
    padding: 0 $base-padding;
  }

  .recipe-tiles {
    .recipe-tile {
      @include span-columns(3);
      @include omega(4n);
      margin-top: $base-padding * 2;

      &:nth-of-type(-n+4) {
        margin-top: 0;
      }
    }
  }

  .recipe-filters {
    @include span-columns(9);
  }

  .recipe-search {
    @include span-columns(3);
  }

  .recipe-detail__image,
  .recipe-detail__body {
    @include span-columns(6);
  }

  .recipe-detail__body {
    margin-top: 0;
  }

  .recipe-detail__title {
    font-size: $base-font-size * 2.25;
  }
}
