.app {
  height: 100%;
}

.app-container {
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height + ($base-padding * 2);
  min-height: 100%;
}

.app-container--fixed-header {
  padding-top: $header-height;
}

.app-body {
  @extend %outer-container;
  padding: $base-padding 0;
}

.app-footer {
  margin-top: -$footer-height;
}

.app-section {
  @extend %app-section;
}

.outer-container {
  @extend %outer-container;
}
