.search-input-container {
  position: relative;

  &:after {
    @extend %icon;
    position: absolute;
    top: 50%;
    left: $base-line-height / 2;
    margin-top: $base-line-height / -2;
    content: $fa-var-search;
  }
}

.search-input,
input.search-input {
  margin: 0;
  padding-left: em(40px);
}
