.session-new__title {
  @extend %text--center;
  margin-bottom: em-to-px($base-padding);
}

.session-form {
  margin: 0 auto;
  width: column-width(3);
}

.session-form__footer {
  @extend %form-footer;
  text-align: center;
}
