h1 {{ recipe.name }}

flash name="app"

/ p ng-bind-html="recipe.description"

a target="_blank" class="button" ng-href="{{ recipe.url }}" analytics-outbound="recipe.trackingParams"
  | View

button type="button" ng-click="bookmark()" ng-disabled="recipe.status.bookmarked"
  | Bookmark
