h1 {{ recipe.data.name }}

flash name="app"

/ p ng-bind-html="recipe.data.description"

a target="_blank" class="button" ng-href="{{ recipe.data.url }}" analytics-outbound="recipe.data.trackingParams"
  | View

button type="button" ng-click="bookmark()" ng-disabled="recipe.status.bookmarked"
  | Bookmark
