h1 Categories

loading-indicator model="categories.status.set" class="loading-indicator loading-indicator--large"

div ng-repeat="category in categories.items"
  a ui-sref="categories.show({ id: category.id })" {{ category.name }}
